.filter-table-container {
  display: flex;
}

.product-table-container {
  width: 60%;
  margin: 1rem auto;
  padding-bottom: 4rem;
  height: 46.75rem;
  display: flex;
  flex-direction: column;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: auto;
}

.product-table th, .product-table td {
  font-size: 1.25rem;
  text-align: left;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  font-weight: bold;
  background-color: inherit;
}

.product-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
